<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Calculator with C#</h4>
            <p class="card-text">A C# calculator GUI featuring two tabs, "Standard" and "Scientific," is a user-friendly application designed for performing mathematical calculations. The "Standard" tab offers basic arithmetic operations, making it suitable for everyday calculations, while the "Scientific" tab provides advanced mathematical functions, including trigonometric and logarithmic operations, ideal for scientific or engineering tasks. This dual-tabbed interface enhances versatility, catering to a broad spectrum of mathematical needs within a single application.
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj2.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Word cloud</h4>
            <p class="card-text">A JavaScript word cloud generator creates visual representations of text data, highlighting word frequency through varying sizes and positions. It's an interactive and customizable tool for summarizing and visualizing textual content in an engaging way.
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj3.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Pharmaceutical E-Commerce</h4>
            <p class="card-text">PharmaSalesConnect is a comprehensive prescription-based pharmaceutical e-commerce platform designed to facilitate seamless interactions between doctors and sales representatives in the healthcare industry. The platform's main purpose is to optimize the sales process for pharmaceutical drugs by leveraging doctor prescriptions.

    
            </p>
          </div>
        </div>
      </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>